<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Users</title>
</head>
<body>
    <h1> Total no of uers on our app : <%= Count %></h1>
    <button>Join us now!</button>
</body>
</html>
